{% extends 'includes/header.html' %}
{% block content %}
<div class="container-xl mt-5 p-5 border rounded border-dark bg-white">

    {% for message in messages %}
        <div class="alert alert-primary" role="alert">
            {{message}}
            <span class="closebtn drag-right" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    {% endfor %}

    <h1>Discord bot config
        <small class="text-muted">| Today: {{today}} |</small>
    </h1>
    <hr>

    {% comment %} Main code here {% endcomment %}

</div>
{% endblock %}